.login-form {
  width: 400px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.outer {
  height: 100vh;
  background-color: white;
}

.notificationStyle{
  border-bottom: 1px solid whitesmoke;
  padding: 5px 5px;
  color: rgb(63, 58, 58);
  margin-bottom: 3px;
}