body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fa-bell{
  color: white;
  font-size: 20px;
  padding-right: 15px;
  cursor: pointer;
}


/* .fc-view-container {
  width: 1000px;
  }
  
  .fc-view-container .fc-view {
  overflow-x: scroll;
  }
  
  .fc-view-container .fc-view > table {
  width: 2500px;
  } */
  @media(max-width:600px){
  .fc .fc-scrollgrid-liquid {
    height: 100%;
    overflow: scroll;
}
.fc .fc-scroller {
overflow: unset !important;}
.fc .fc-scroller-harness {
  overflow: unset !important;
}
.fc .fc-view-harness-active > .fc-view {
  overflow: scroll;
}
.fc .fc-view-harness {
  height: 2650px !important;
}
.fc table{
  table-layout: auto;
}
.fc-view > table{  
  min-width: 0;
  width: auto;
}
.fc-axis{
  min-width:100px; /*the width of times column*/
  width:100px; /*the width of times column*/
}
.fc-day,.fc-resource-cell,.fc-content-col{
  min-width:150px;
  width:150px;
}
 }
 
 .twelveham2{  margin-left: 5px }
 
 


 @media screen and (max-width:1200px) {

  .twelveham{
     margin-left: 10px;
  }
   
 }


 @media screen and (max-width:479px) {

  .twelveham{
     margin-top: 5px;
  }
   
 }

 @media screen and (min-width:373px) {

  .uploadoffs{
     margin-left: 5px;
  }
   
 }


 @media screen and (max-width:630px) {

  .uploadoffs{
     margin-bottom: 5px;
  }
   
 }

 @media screen and (max-width:372px) {

  .uploadoffs{
     margin-top: 5px;
  }
   
 }


 


 @media screen and (max-width:533px) {
  .twelveham{
    margin-left: 15px;
 }

  .twelveham2{
    margin-top: 5px;
     margin-left: 15px;
  }
   
 }



